<div class="app-footer border-0 shadow-lg">
    <a href="default.html" class="nav-content-bttn nav-center"><i class="feather-home"></i></a>
    <a href="default-follower.html" class="nav-content-bttn"><i class="feather-package"></i></a>
    <a href="default-live-stream.html" class="nav-content-bttn" data-tab="chats"><i class="feather-layout"></i></a>            
    <a href="#" class="nav-content-bttn sidebar-layer"><i class="feather-layers"></i></a>
    <a href="default-settings.html" class="nav-content-bttn"><img src="./assets/images/female-profile.png" alt="user" class="w30 shadow-xss"></a>
</div>